import(tidyverse)
import(pander)
import(psych)
import(foreign)
export(ImportSPSS)
export(TrimVar)
export(ConcatActions)
export(CleanActions)
export(DataActionsbyID)
export(RangeNumberActionsbyVar)
export(VarTimebyID)
export(FreqActionsSummary)
export(VarActionSearch)
export(DescriptiveStrategy)
export(BoxplotStrategybyPerformance)
export(DataArcSinebyPerformance)
export(VarActionPosition)
export(ScatterPlotbyPerformance)
export(NumericTimeVar)
export(TOTVar)
export(SummaryTOTbyVar)
export(PlotTimeonTaskbyVar)
